@model aravaChat.ViewModel.ChatView

@{
	ViewData["Title"] = "Chat";
}

<h1>Chat</h1>


<div>
	<a class="btn btn-primary m-2" asp-action="Create">Create New</a>
	<a class="btn btn-primary m-2" asp-action="Logout">Logout</a>
</div>
<table class="table">
	<thead>
		<tr>
			<th>
				ID
			</th>
			<th>
				Message
			</th>
			<th>
				Created at
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.messages)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.text)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.created_at)
				</td>
				<td>
					@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
				</td>
			</tr>
		}
	</tbody>
</table>

<form asp-action="Chat">
    <div class="form-group">
        <label asp-for="message.text" class="control-label"></label>
		<input asp-for="message.text" class="form-control" />
		<span asp-validation-for="message.text" class="text-danger"></span>
        <input type="submit" value="Send" class="btn btn-primary" />
    </div>
   
    </div>
</form>
